---
import Head from "../components/Head.astro";
---

<html>
    <Head
        title="What is Heaven Topology?"
        description="I do my best to explain why I chose this name."
    />
    <body>
        <main>
            <img src="img/wing.gif" />
            <a href="/index.html">
                <div style="display: flex; justify-content: center">
                    <img src="img/gbook.gif" />
                    <img src="img/to-home.gif" />
                    <img src="img/gbook.gif" />
                </div>
            </a>
            <img src="img/wing.gif" />
            <h2>
                I like to listen to music a lot. These are me gushing about some
                of my favorite albums. Prepare for extreme idiosyncrasy and
                personal bias!
            </h2>
            <div class="column">
                <article>
                    <img src="img/albums/pita-get-down-Cover-Art.webp" />
                    <h3>Pita — Get Down (2002)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/the-mothers-of-invention-uncle-meat-Cover-Art.webp"
                    />
                    <h3>The Mother of Invention — Uncle Meat (1969)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/henry-cow-the-henry-cow-legend-Cover-Art.webp"
                    />
                    <h3>Henry Cow — Legend (1973)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/todd-rundgrens-utopia-todd-rundgrens-utopia-Cover-Art.webp"
                    />
                    <h3>Utopia — <em>Self-titled</em> (1974)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img src="img/albums/mgmt-congratulations-Cover-Art.webp" />
                    <h3>MGMT — Congratulations (2010)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img src="img/albums/soft-machine-fourth-Cover-Art.webp" />
                    <h3>Soft Machine — Fourth (1971)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/panda-bear-panda-bear-meets-the-grim-reaper-Cover-Art.webp"
                    />
                    <h3>Panda Bear Meets the Grim Reaper (2015)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/giant-claw-deep-thoughts-Cover-Art.webp"
                    />
                    <h3>Giant Claw — Deep Thoughts (2015)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/adebisi-shank-this-is-the-third-album-of-a-band-called-adebisi-shank-Cover-Art.webp"
                    />
                    <h3>
                        This Is the Third Album of a Band Named Adebisi Shank
                        (2014)
                    </h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/animal-collective-centipede-hz-Cover-Art.webp"
                    />
                    <h3>Animal Collective — Centipede Hz (2012)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/david-sancious-forest-of-feelings-Cover-Art.webp"
                    />
                    <h3>David Sancious — Forest of Feelings (1975)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/oneohtrix-point-never-r-plus-seven-Cover-Art.webp"
                    />
                    <h3>Oneohtrix Point Never — R Plus Seven (2013)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/deerhoof-the-runners-four-Cover-Art.webp"
                    />
                    <h3>Deerhoof — The Runners Four (2005)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/mid-air-thief-crumbling-Cover-Art.webp"
                    />
                    <h3>공중도둑 — 무너지기 (2018)</h3>
                    <h3><em>Mid-Air Thief — Crumbling</em></h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/dan-deacon-mystic-familiar-Cover-Art.webp"
                    />
                    <h3>Dan Deacon — Mystic Familiar (2020)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img src="img/albums/beck-odelay-Cover-Art.webp" />
                    <h3>Beck — Odelay (1996)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/brand-x-unorthodox-behaviour-Cover-Art.webp"
                    />
                    <h3>Brand X — Unorthodox Behaviour (1976)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img src="img/albums/yes-relayer-Cover-Art.webp" />
                    <h3>Yes — Relayer (1974)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/miles-davis-in-a-silent-way-Cover-Art.webp"
                    />
                    <h3>Miles Davis — In a Silent Way (1969)</h3>
                    <p>(Coming soon)</p>
                </article>

                <article>
                    <img
                        src="img/albums/mahavishnu-orchestra-birds-of-fire-Cover-Art.webp"
                    />
                    <h3>Mahavishnu Orchestra — Birds of Fire (1973)</h3>
                    <p>(Coming soon)</p>
                </article>
            </div>
        </main>
    </body>
</html>
<style>
    body {
        background-image: url("img/henry-cow-bg.jpg");
        font-family: serif;
    }
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    article {
        width: 1000px;
        text-align: center;
    }
    article img {
        max-width: 300px;
        float: left;
    }
    main {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 5% 10%;
        background-color: rgba(255, 255, 255, 0.6);
    }
</style>