---
import Head from "../components/Head.astro";
---

<html>
    <Head
        title="What is Heaven Topology?"
        description="I do my best to explain why I chose this name."
    />
    <body>
        <main>
            <img src="img/wing.gif" />
      <a href="/index.html">
        <div style="display: flex; justify-content: center">
          <img src="img/gbook.gif" />
          <img src="img/to-home.gif" />
          <img src="img/gbook.gif" />
        </div>
      </a>
      <img src="img/wing.gif" />
      
      <h2>This page is a collection of complicated spiritual diagrams I've collected from the internet. I enjoy the overwhelming nature of them! (I claim no ownership over the images or the ideas represented within them; I just want to spread them. The images link to the source where possible.)</h2>
      
      <div class="column">
        <img src="img/se/tree-of-life.jpg" />
        <a href="https://meru.org/"><img src="img/se/rubik.jpg" /></a>
        <img src="img/se/celestial.jpg" />
        <a href="https://jameshung2010.pixnet.net/blog"><img src="img/se/i-ching.jpg" /></a>
        <a href="https://xochipilli.blog/"><img src="img/se/codon.webp" /></a>
        <a href="http://www.erelim.com/"><img src="img/se/arcana.gif" /></a>
        <a href="https://palmyria.co.uk/"><img src="img/se/table.jpg" /></a>
        <a href="https://inaciovacchiano.com/"><img src="img/se/rosy.jpg" /></a>
        <a href="https://www.ichingmeditations.com/"><img src="img/se/i-ching2.jpg" /></a>
      </div>
        </main>
    </body>
</html>
<style>
    main {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 5% 10%;
    }
    body {
        background-image: url("img/bgrbow.jpg");
        font-family: serif;
    }
    #book {
        background-color: AntiqueWhite;
        padding: 15px;
    }
    h2 {
        vertical-align: top;
    }
</style>