---
import Head from "../components/Head.astro";
import Card from "../components/Card.astro"
---

<!DOCTYPE html>
<html lang="en">
    <Head title="Heaven Topology" description="A library of idiosyncrasies" />
    <body>
        <main id="root" class="max-w-[1200px] flex flex-col items-center m-auto p-[5% 10%]">
            <h1>hi</h1>

            <Card/>
        </main>
    </body>
</html>
