---
import Head from "../components/Head.astro";
---

<html>
    <Head
        title="What is Heaven Topology?"
        description="I do my best to explain why I chose this name."
    />
    <body>
        <main class="max-w-[1200px] flex flex-col items-center m-auto p-[5% 10%]">
            <img src="img/wing.gif" />
            <a href="/index.html">
                <div style="display: flex; justify-content: center">
                    <img src="img/gbook.gif" />
                    <img src="img/to-home.gif" />
                    <img src="img/gbook.gif" />
                </div>
            </a>
            <img src="img/wing.gif" />

            <div class="bg-[#faebd7] p-[15px]">
                <h2><img src="img/gbook.gif" />Preface</h2>

                <p>
                    The idea that "nothing exists" is hardly a revolutionary
                    idea. Philosophers from thousands of years past up to today
                    have formulated this theory in a myriad of different ways.
                    Nihilists are likely more populous now than ever, and it's
                    hard to blame them. You can never be certain that anything
                    you see is real, or just your brain feeding you lies. Maybe
                    the "real world" is all in your head, and you're just living
                    in a universe alone! Well, if that's true, it wouldn't
                    change much. All of the "material world" is made up of
                    atoms, and physicists approximate that an atom is >99.999%
                    empty. Thus, by extension, the world itself and everything
                    in it is mostly nothing. And when they dig deeper into that
                    0.000001% of "realness" they find subatomic particles, which
                    are even more nothing.
                </p>

                <p>
                    Okay, so the real world is a hoax; but at least your mind is
                    real, right? Your brain is currently full of ideas and
                    thoughts and concepts... but what is an idea? What exactly
                    is a thought? How do you define "concept"? These extremely
                    abstract questions lead to even more abstract (and
                    ultimately useless) questions. They are unanswerable
                    problems that we are not equipped to understand (and trust
                    me, many have tried). If unanswerable questions are the
                    fundaments of your own mind, how can you trust any of it to
                    be real?
                </p>

                <p>
                    This is where many people throw up their hands and become
                    nihilists. Nothing matters, life is a lie, it's time to give
                    up: everything is nothing.
                </p>

                <p>
                    But why? Why is that where so many give up? Certainly
                    they're right at a huge revelation—something so hard to
                    grasp, but <em>so obvious</em> in hindsight when discovered!
                    We have so many preconceived notions and tangled up ideas of
                    "nothing" that it becomes this huge, scary, cold darkness. But
                    just for a moment, let's <em>rename</em> nothing, that way we
                    can look at it with a fresh perspective. Any word would do, but
                    for various reasons I'll touch on later, I'll use the Hebrew
                    word for nothing: Ayin. Now, let's replace "nothing" with "Ayin"
                    and repeat some of the things we've been saying. Remember, no
                    matter how strange these sentences sound, they're things we've
                    already established!
                </p>

                <p><em>Ayin</em> is <strong>real</strong>.</p>

                <p><em>Ayin</em> <strong>matters</strong>.</p>

                <p><strong>Everything</strong> is <em>Ayin</em>.</p>

                <p>And possibly, the most impactful of them all:</p>

                <p><strong>YOU</strong> are <em>Ayin</em>!</p>

                <h2><img src="img/gbook.gif" />O. Zerotics</h2>

                <p>
                    Suddenly, this "everything is nothing" stuff doesn't sound
                    so bad, right? It's almost as if <em>Ayin</em> is some sort of
                    magical life-force, holding our existance together. And it is!
                    Within fiction, humans are always reinventing this concept over
                    and over: the idea that there is one "thing" that lives within
                    everything (like The Force from Star Wars). This really is the
                    case. It just happens it's not a thing, it's a no-thing! (And
                    can't be used to get superpowers. Probably.)
                </p>

                <p>
                    Another concept repeatedly invented by creative humans is
                    purgatory, or the void. A place made of eternal and endless
                    nothing, total limbo, complete absence of anything and
                    everything. The void is almost ubiquitously protrayed as a
                    scary, negative place to be. And truly, it is, but the void
                    is also full of beauty, love, fun, laughter, and hope. We
                    know this, because we live in it. Welcome to the void,
                    you've been living here for years!
                </p>

                <p>
                    But can this <em>really</em> be a void? There's so much stuff
                    in here. In fact, everywhere you look, there's a million different
                    things! But of course, like we went over in the preface, none
                    of those things are actually real—they're quite demonstrably
                    nothing. But still, it sure <em>seems</em> like there's something.
                    Enough that we can reliably predict and interact with the world
                    with a near 100% accuracy rate. Clearly, we need to reframe our
                    understanding of what nothing is.I call this idea Zerotics. We
                    think we have a fairly clear grasp on the idea of nothing, but
                    that isn't true. But by engaging in Zerotic thinking, we can
                    start to understand the elemental basis of our lovely void a
                    little better.
                </p>

                <p>
                    For one, whatever you imagine when you think of "nothing" is
                    wildly incorrect. It is impossible to think about nothing:
                    whatever you're thinking about is definitely something! The
                    word "nothing", "Ayin", purgatory, the void, the number
                    zero, outer space, a literary space—it's necessary to take a
                    step back and realize all these things aren't really
                    nothing, they're just <em>related</em> to nothing. Once you realize
                    that, something important becomes a little more clear.
                </p>

                <h2><img src="img/gbook.gif" />I. Topology</h2>

                <p>
                    Topology is a branch of math, closely associated with
                    geometry. Whereas geometries studies shapes, topology's
                    focus is a little different. It isn't necessarily concerned
                    with shapes, but with <em>connections</em>. To topology, a
                    coffe mug and a donut may as well be the same—they can both
                    be squashed into rings.
                </p>

                <img src="img/Mug_and_Torus_morph.gif" />

                <p>
                    They're two different objects, but they are connected in the
                    same way. And though "vanilla" topology is usually regarding
                    shapes, the idea of studying connections can be applied to
                    anything. Network topology, for instance, is a field that
                    researches the different ways computers can connect to one
                    another.
                </p>

                <p>
                    While studying topology is not at all necessary to follow
                    along with this page, knowing that you can study the way
                    things can connect and relate to each other is <em
                        >extremely</em
                    > important. This is because <strong
                        >everything you see, think, and experience are
                        connections.</strong
                    > Nothing has any inherent meaning, things can only be understood
                    by their relation to other things. For instance, try and explain
                    to yourself what a square is. "Four equal lines connected at
                    right angles" is establishing a connection with lines and angles.
                    And of course, lines and angles can only be understood when talking
                    about shapes—like a square! Even the tool you use to understand
                    these connections, your brain, is just a bunch of neurons connecting
                    to each other in different ways. The neurons that fire off in
                    your brain when you think of, for example, a cow—they don't have
                    anything to do with cows! All they have are a web of connections
                    to related concepts, like animals, farms, things that are white
                    & black, and even the word "cow". (And for topologists, <a
                        href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Spot_the_cow.gif/200px-Spot_the_cow.gif"
                        >cows are also closely related to spheres.</a
                    >)
                </p>

                <p>
                    So wait, everything is nothing, but everything is somehow
                    also connections? Surely these ideas conflict, right? Well,
                    if everything can be logically considered to be nothing, and
                    everything can <em>also</em> logically be considered to be connections...
                    doesn't that mean <strong>they're the same thing?</strong>
                </p>

                <h2><img src="img/gbook.gif" />II. Abiogenesis</h2>

                <p>
                    Okay, everything is nothing, and everything is also
                    connections, because connections are also nothing. Not
                    confusing, no, not at all. It is honestly very simple: the
                    simplest anything could possibly be. It just so happens that
                    our minds have EXTREME difficulty comprehending
                    overly-simple things, just like our eyes can't see anything
                    overly-small. In order to better understand confusing
                    things, sometimes we have to <em>add</em> to them instead of
                    trying to simply them further. So, for exactly this purpose,
                    it may help to introduce a new kind of nothing: time.
                </p>

                <p>
                    All of this nothingness-lifeforce-connection-web-stuff isn't
                    static: it changes over time. Relations between things are
                    malleable; and they can be born, strengthened, or broken at
                    any moment. This is because connections themselves can also
                    relate to one another. Like the electrical pulses
                    ping-ponging carefully inside of a CPU or the DNA untangling
                    in a cell, webs of connections often have intricate patterns
                    that sustain, grow, and evolve. There are examples of
                    connections organized through processes everywhere. A car
                    engine, a factory, a tree, or even more abstract ideas, like
                    stories or the rules of a game. All these things have
                    dynamic parts that move and grow as if they were (or are)
                    living organisms!
                </p>

                <p>
                    It's also very important to understand that this
                    developmental process is <em>very</em> natural, and built into
                    the fabric of our reality. (Which is nothingness!) Biological
                    evolution is possibly the most archetypical example of this idea.
                    At some point, a long time ago, the earth was mainly just some
                    rocks, water, and heat. It was, by all accounts, totally without
                    life or significant organization. But eventually, left long enough,
                    all those inorganic materials singlehandedly rearranged themselves
                    into... all this stuff. No matter how bizzare the world may seem,
                    there's some sort of "blueprint" embedded within our reality
                    that caused it to manifest this way.
                </p>

                <p>
                    The study of how inorganic material first rearranged itself
                    into organic material is called Abiogenesis. But, as was the
                    case with topology, the concept can be abstracted and
                    applied to many more ideas than that. From the perspective
                    of Zerotics, abiogenesis can be thought of as a rapid
                    burgeoning of many new connections where there weren't many
                    before. A nerdy example of this could be looking through
                    your collection of old trading cards and building a cohesive
                    deck out of them. Cards that you were previously considering
                    only by themselves are now being considered as a functional
                    group.
                </p>

                <p>
                    Now, you may have a concern at this point. Namely, that the
                    cards were arranged by a "higher power"—they didn't just get
                    up and organize themselves. To that, I can only say: get
                    over yourself! You might feel like you're much higher and
                    mightier than some silly playing cards, but really, you're
                    more like cousins than anything else! "We" all came from a
                    vast soup of nothingness, and even beyond that, you both
                    were born from the same chunk of space-rock as each other.
                    Whay has control over what matters much less than the fact
                    everything is part of a well-oiled cosmic machine. (That's
                    not to be taken as a statement of complacency
                    however—radical actions are as vital to the machine as
                    everything else!)
                </p>

                <p>
                    And, of course, "time" is just more of the same nothing
                    we've been talking about this whole time. I called it a "new
                    kind" of nothing, but that's not true at all: time,
                    connections, and "the void" are all completely and totally
                    identical. It's just that our minds, by necessity, break
                    things simple things up into differing chunks to understand
                    them. (That's an abiogenesis as well!) We need to understand
                    space, relationships, and changes as differing things—that's
                    just the way we work!
                </p>

                <h2><img src="img/gbook.gif" />III. Heaven Topology</h2>

                <p>
                    Not everything creates this "explosion" of meaning, however.
                    Sometimes, things just don't link together in a very strong
                    way. (Anyone who's tried to study for an exam can attest to
                    this). We can observe the world around us and readily
                    understand that there are all sorts of replicating shapes
                    and structures. Plants, architechture, social functions,
                    memetic concepts, and countless other things. But not <em
                        >everything</em
                    >. You can put two rocks side-by-side, but you're probably
                    not getting a third rock. Abiogenesis and self-replicating
                    patterns are abundant in the universe, but not omni-present.
                    It all comes down to the patterns they contain and
                    perpetuate that decides their quotient for "life".
                </p>

                <p>
                    However, just as some patterns will never replicate or build
                    up meaning, some <em>do</em>! These are very special,
                    because no matter how simple, they have the ability to build
                    up understanding and reconfiguring of other entities. These
                    patterns can be thought of as "organizers", which take
                    disorderly information and breathe meaning and life into
                    them. A tree takes in very chaotic and disorderly dirt,
                    sunlight, and moisture—then organizes them into very
                    structures leaves and roots. These patterns are often (but
                    not always) associated with life.
                </p>

                <p>
                    A somewhat less intuitive example is a sentence. Random
                    letters strewn into a string require a lot of effort and
                    mental gymnastics to squeeze any meaning out of. However,
                    when they become placed in an orderly pattern that we can
                    recognize, we are able to derive meaning. That meaning
                    enters our minds, which sets of a chain reaction
                    (abiogenesis) in reaction to the meaning we derived from the
                    sentence. Did it make us laugh? Did it make us offended? Do
                    we now have additional thoughts or questions? An organized
                    sentence creates that explosion of connections within us,
                    but a random and arbitrary one does not.
                </p>

                <p>
                    That's what the <strong>Topology of Heaven</strong> means. It's
                    the fuzzy set of all topologies that create abiogenesis. The
                    rules that spawn life, the organizers that build meaning, the
                    intelligble signs that give us information—all abstracted into
                    one title.
                </p>

                <p>
                    I apologize that this article is most certainly lengthy,
                    difficult to understand, and not very actionable. There is
                    much more I'd like to say, and much I did say that I wish I
                    could have said better. However, as I alluded to earlier,
                    most of these ideas are not my own. If any of it has piqued
                    your interest, I highly recommend you to read some of the
                    works that inspired my worldview. Thank you for reading!
                </p>

                <h2><img src="img/gbook.gif" />IV. Bibliography</h2>

                <ul>
                    <li>
                        <strong>Lon Milo DuQuette</strong>—The Chicken Qabalah
                        of Rabbi Lamed Ben Clifford <em
                            >(My current favorite book of all time)</em
                        >
                    </li>
                    <li>
                        <strong>Douglas Hofstadter</strong>—Gödel, Escher, Bach:
                        an Eternal Golden Braid
                    </li>
                    <li><em>(More to be added later)</em></li>
                </ul>

                <h2><img src="img/gbook.gif" />Appendix A. Qabalah</h2>

                <p><em>(To be written soon)</em></p>
            </div>
        </main>
    </body>
</html>
<style>
    body {
        background-image: url("img/bgrbow.jpg");
        font-family: serif;
    }
</style>