<div class="relative bg-white rounded-xl p-3 z-10">
    This is a card
</div>

<style>
    div {
        border: 8px solid black;
        border-left-width: 16px;
        border-top-width: 16px;
    }
</style>