---
import Head from "../components/Head.astro";

const { frontmatter } = Astro.props
---

<html>
    <Head title={frontmatter.title} description={frontmatter.description} />
    <body class="flex justify-center items-center">
        <main class="max-w-prose">
            <slot/>
            <a href="/sleepygnome">Return to blog</a>
        </main>
    </body>
</html>